<div class="relative">
  <circle-progress class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                   [percent]="timerState().currentPercentage"
                   [maxPercent]="100"
                   [showTitle]="false"
                   [showSubtitle]="false"
                   [showUnits]="false"
                   [radius]="115"
                   [outerStrokeColor]="timerState().workoutMode === 'Workout' ? '#047857' : '#be123c'"
                   [innerStrokeWidth]="0"
                   [outerStrokeWidth]="10"
                   [startFromZero]="false"
                   [lazy]="false"
                   [animation]="true"
                   [animationDuration]="200">
  </circle-progress>
  <div class="flex flex-col justify-center items-center rounded-full w-64 h-64"
       [ngClass]="{'bg-emerald-50 text-emerald-700': timerState().workoutMode === 'Workout', 'bg-rose-50 text-rose-700': timerState().workoutMode === 'Rest'}">
    <div class="text-6xl font-bold">{{ timerState().currentTimeInSeconds | number : '1.0-0' }}</div>
    <div class="mt-4">Round {{ timerState().currentWorkoutRounds }} of {{ timerState().maxWorkoutRounds }}</div>
  </div>
</div>
